* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #27272a;
  color: #f8fafc;
}

a {
  text-decoration: none;
  color: #a78bfa;
  transition: .5s;
}

a:hover {
  color: #8b5cf6;
}